*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.body{
    height: 100%;
    width:100%;
    background-color: whitesmoke;

}
#title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:50px 50px;
    
}
#title h1{
    font-size: 40px;
    font-family:monospace ;
    font-weight: 900;
}
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 10vh;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.5vw;
  text-transform: uppercase;
}
.space-invader {
    /* Modify size here: */
    --block-size: 5px;
  
    box-shadow: 0 0 0 var(--block-size) #333,
    0 var(--block-size) 0 var(--block-size) #333,
    calc(var(--block-size) * -2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * .5) #333,
    calc(var(--block-size) * 2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * .5) #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * -3) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * -3) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * -2) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * -2) 0 0 #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * -4) 0 0 0 #333,
    calc(var(--block-size) * -3) 0 0 0 #333,
    calc(var(--block-size) * 3) 0 0 0 #333,
    calc(var(--block-size) * 4) 0 0 0 #333,
    calc(var(--block-size) * -5) var(--block-size) 0 0 #333,
    calc(var(--block-size) * -4) var(--block-size) 0 0 #333,
    calc(var(--block-size) * 4) var(--block-size) 0 0 #333,
    calc(var(--block-size) * 5) var(--block-size) 0 0 #333,
    calc(var(--block-size) * -5) calc(var(--block-size) * 2) 0 0 #333,
    calc(var(--block-size) * 5) calc(var(--block-size) * 2) 0 0 #333,
    calc(var(--block-size) * -5) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * 5) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * 4) 0 0 #333,
    calc(var(--block-size) * -1) calc(var(--block-size) * 4) 0 0 #333,
    var(--block-size) calc(var(--block-size) * 4) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * 4) 0 0 #333;
    background: #333;
    width: var(--block-size);
    height: var(--block-size);
    overflow: hidden;
  }

#buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   

}


/* CSS */
.button-1{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:after {
  content: "";
  background-color: violet;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-1:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-1 {
    padding: 13px 50px 13px;
  }
}

.button-2{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-2:after {
    content: "";
    background-color: rgb(169, 88, 227);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
.button-2:hover:after {
    top: 0px;
    left: 0px;
  }
  
@media (min-width: 768px) {
    .button-2 {
      padding: 13px 50px 13px;
    }
  }

.button-3{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-3:after {
    content: "";
    background-color: rgb(87, 87, 234);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
.button-3:hover:after {
    top: 0px;
    left: 0px;
  }
  
@media (min-width: 768px) {
    .button-3 {
      padding: 13px 50px 13px;
    }
  }  
.button-4{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-4:after {
    content: "";
    background-color: rgb(88, 227, 88);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
.button-4:hover:after {
    top: 0px;
    left: 0px;
  }
  
@media (min-width: 768px) {
    .button-4 {
      padding: 13px 50px 13px;
    }
  }  
.button-5{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-5:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
.button-5:hover:after {
    top: 0px;
    left: 0px;
  }
  
@media (min-width: 768px) {
    .button-5 {
      padding: 13px 50px 13px;
    }
  }
.button-6{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-6:after {
    content: "";
    background-color: rgb(252, 180, 45);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
.button-6:hover:after {
    top: 0px;
    left: 0px;
  }
  
@media (min-width: 768px) {
    .button-6 {
      padding: 13px 50px 13px;
    }
  }
  .button-7{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-7:after {
    content: "";
    background-color: rgb(248, 66, 66);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
.button-7:hover:after {
    top: 0px;
    left: 0px;
  }
  
@media (min-width: 768px) {
    .button-7 {
      padding: 13px 50px 13px;
    }
  }

  .button-8{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-8:after {
    content: "";
    background-color: rgb(248, 66, 66);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
.button-8:hover:after {
    top: 0px;
    left: 0px;
  }
  
@media (min-width: 768px) {
    .button-8 {
      padding: 13px 50px 13px;
    }
  }







 
  
    




























































































/* #ffe54c yellow colour